.navbar{
    display: flex;
    justify-content: flex-end;
}

.hero-body{
    padding-bottom: 0px;
}

div .is-2{
    border-right: 5px dotted teal;
}

div img{
    width: 20rem;
}

#resume-container > * > img{
    min-height: 15rem;
}