.navbar{
    display: flex;
    justify-content: flex-end;
}

.hero-body{
    padding-bottom: 0px;
}

div .is-2{
    border-right: 5px dotted teal;
}

div img{
    width: 20rem;
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(135,206,235);
}

header{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:silver ;
    color:black;
}

header h1{
    display: inline-block;
    font-size: 32px;
    background-color: rgb(135,206,235);
    padding: 5px 10px 5px 80px;
    position:relative;
    right: 20px;
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    font-size: 24px;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 24px;
}

.partition{
    display: inline-block;
} */